@import url("https://fonts.googleapis.com/css?family=Poiret+One|Forum|Exo+2|Permanent+Marker");

/* mobile first */

body {
    background-color: #ccffff;
    font-family: Poiret One , sans-serif;
    font-weight: bolder;
    font-size:17px;

}
section {
  padding: 6% 10% 10% 10%;
  border-top: 5px solid #2d3436;
};
footer {
  padding: 0% 10% 0% 10%;
  border-top: 5px solid #2d3436;
}
h1 {
  font-family: 'Forum', cursive;
  font-size: 40px;
  color : red;
  text-shadow: 0px 4px 7px maroon;

}
h2 {
  font-size: 24px;
  padding-right:16px;
  color : red;
  text-shadow: 0px 5px 4px maroon;

}
h3 {
  font-size: 20px;
}
p {
  text-align: justify;
  text-justify: inter-word;
  padding-top : 40px;
}
#designed{
  font-size : 17px;
  color : darkgreen;
  text-shadow: 0px 5px 4px green;
  font-weight: bolder;
  font-style:oblique;
}
#Gaza, #Nazareth, #london{
  padding-top: 0px;
  padding-bottom: 20px;
  border-top: 2px solid #b2bec3;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content:space-around;
    background-color: #74b9ff;
    height: 8%;
    z-index: 1;

}
.navbar a {
    width: 100%
    display: block;
    text-decoration: none;
    position: relative;
    font-family: 'Exo 2', sans-serif1;
    padding-top: 10px;
}
.navbar a:hover{
    background-color: skyblue;
    font-size : 20px;

};


.txt-campuses {
  padding: 10% 5% 0% 5%;
}



.photo {
  width: 300px;
  height : 200px;
  padding : 16px 0px 2px 20px;
}


/* Desktop */
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    justify-content: space-around;
  }

  }
}
