@import url("https://fonts.googleapis.com/css?family=Chela+One|Comfortaa|Concert+One|Forum|Lalezar|Permanent+Marker");

/* mobile first */

body {
    margin: 0;
    padding-top: 30px;
    background-color: #ccffff;
    font-family: 'Forum', cursive;
    font-weight: bolder;
    font-size: 17px;
}
section {
  padding: 6% 10% 10% 10%;
  border-top: 5px solid #2d3436;
};
footer {
  padding: 0% 10% 0% 10%;
  border-top: 5px solid #2d3436;
}
h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  color : #2d3436;

}
h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
  color : #2d3436;
  padding: 0px;

}
h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
p {
  text-align: justify;
  text-justify: inter-word;
  padding-top : 40px;
}

}
#Gaza, #Nazareth, #london{
  padding-top: 0px;
  padding-bottom: 20px;
  border-top: 2px solid #b2bec3;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content:space-around;
    background-color: #74b9ff;
    height: 60px;
    z-index: 1;

}
.navbar a {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif1;
    align-self: center;
}
.navbar a:hover{
    background-color: skyblue;
    font-size : 20px;

};


.txt-campuses {
  padding:;
}



.photo {
  width: 100%;
}

/*Tablet*/
@media only screen and (min-width: 450px) {

/* Desktop */
@media only screen and (min-width: 1100px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
  .photo {
    width: 300px;
    height : 200px;
    padding : 16px 0px 2px 20px;
  }
  h1 {
    font-size: 40px;


  }
  h2 {
    font-size: 25px;
  }
  body {
      font-size: 22px;
  }

}
